@{
    ViewData["Title"] = "Contact";
}
@model IEnumerable<Arçelik.Models.Applicant_History>


<h2>@ViewData["Title"]</h2>

<br />
<br />
<br />
<h3>Doğuhan Çiftçi</h3>
<h5>Project Engineer</h5>
<br />
<address>
    Arçelik A.Ş.<br />
    Karaağaç Cad. No:2-6 Sütlüce Beyoğlu/İstanbul<br />
    @*
        <abbr title="Phone">P:</abbr>
        +90 531 236 60 00<br />

        <abbr title="E-mail">E:</abbr>
        doguhan.ciftci@arcelik.com
    *@
</address>

<address>
    <strong>Phone:</strong>
    <a href="tel:+905312366000">+90 531 236 60 00</a>
    <br />
    <strong>E-mail:</strong>
    <a href="mailto:doguhan.ciftci@arcelik.com">doguhan.ciftci@arcelik.com</a>
</address>
<br />
<br />